:root {
  --bg-color: #f3f3f2;
  --highlight-color: #fff;
  --text-color: #282826;
  --text-color-dark: #000;
  --link-color: rgb(10, 95, 198);
  --border-color: #000;
  --bar-height: 10px;
  --bar-color: #000;
}

/* Quick and dirty css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Layout */

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--bar-height);
  background-color: var(--bar-color);
  border-bottom: 1px solid var(--highlight-color);
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.resume header {
  order: 1;
  margin-bottom: 1rem;
}

.introduction {
  order: 2;
}

.experience {
  order: 4;
}

.skills {
  order: 3;
}

.education {
  display: none;
}

.references {
  order: 5;
}

footer {
  display: flex;
  margin-top: 2rem;
  padding: .5rem 0;
  border-top: 1px solid var(--border-color);
  font-size: .75rem;
}

footer .colophon,
footer .timestamp {
  margin: 0;
}

footer .colophon {
  flex: 1;
}

footer .timestamp {
  text-align: right;
}

@media print, (min-width: 40rem) {
  .resume {
    margin-top: 1rem;
  }

  .resume header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }

  .resume address {
    flex: 1;
    text-align: right;
  }

  footer {
    margin-top: 3rem;
  }
}

/* Colors */

body {
  color: var(--text-color);;
  background-color: var(--bg-color);
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--text-color-dark);
}

/* Typography */

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.45;
}

h1, h2 {
  line-height: 1.1;
  font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

@media screen {
  /* letterpress style inset shadow hack */
  h1 {
    background-color: #000;
    color: transparent;
    text-shadow: 0 2px 1px rgba(255, 255, 255, .11);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }
}

h2 {
  border-top: 5px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-block: .25em .2em;
}

p {
  margin-block: 0 1rem;
}

address {
  font-style: normal;
}

@media print, (min-width: 40rem) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    padding-left: 1.3rem;
  }

  .categories,
  .references p {
    margin-left: 1.5rem;
  }
}

/* Sections */

.introduction {
  font-size: 1.3rem;
}

.introduction p:last-child {
  margin-bottom: 0;
}

.introduction em {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.job,
.degree,
.reference {
  margin-block: 1rem;
}

.job {
  padding: 0 1.5rem;
  margin-block: 1.5rem;
}

.job .title {
  line-height: 1.1;
}

.job .company,
.job .location {
  font-size: 1rem;
  display: inline-block;
}

.job .location::before { content: '('; }
.job .location::after { content: ')'; }

.job .dates {
  font-style: italic;
  font-size: 1rem;
}

.details {
  margin-bottom: .36rem;
}

.details,
.details h3 {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.details .title::after,
.details .school::after {
  content: ', ';
  margin-right: .2em;
}

.details .dates {
  font-weight: normal;
}

.skills {
  margin-block-end: 1rem;
}

.skills h2 {
  display: none;
}

.skills ul { list-style: none; }

.skills li + li {
  margin-top: 0.5rem;
}

.skills li strong {
  display: block;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

@media print, (min-width: 40rem) {
  .skills li + li {
    margin-top: 0.25em;
  }

  .skills li strong {
    display: inline-block;
    width: 10em;
    text-align: right;
    margin-right: 1.5em;
  }
}

/* Timeline */

.jobs {
  border-left: 2px dotted #888;
  margin-left: .8em;
}

.job {
  position: relative;
  margin-block: 2rem;
}

.job:last-child { margin-bottom: 0; }

.job::before {
  content: '';
  position: absolute;
  left: -1.1rem;
  top: -.125rem;
  width: 1.75rem;
  height: 1.75rem;
  background-size: 1.1rem;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M416,160a64,64,0,1,0-96.27,55.24c-2.29,29.08-20.08,37-75,48.42-17.76,3.68-35.93,7.45-52.71,13.93V151.39a64,64,0,1,0-64,0V360.61a64,64,0,1,0,64.42.24c2.39-18,16-24.33,65.26-34.52,27.43-5.67,55.78-11.54,79.78-26.95,29-18.58,44.53-46.78,46.36-83.89A64,64,0,0,0,416,160ZM160,64a32,32,0,1,1-32,32A32,32,0,0,1,160,64Zm0,384a32,32,0,1,1,32-32A32,32,0,0,1,160,448ZM352,192a32,32,0,1,1,32-32A32,32,0,0,1,352,192Z'/%3E%3C/svg%3E");
  background-position: center right;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* Footer */

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  height: 1.25em;
  margin: 0 -.25em;
  fill: var(--text-color);
}

@media print, (min-width: 40rem) {
  .jobs {
    margin-left: 10em;
  }

  .job .dates {
    position: absolute;
    top: 0;
    left: -8rem;
    width: 7rem;
    text-align: right;
    padding-right: .5rem;
  }
}

/* Print specific styles */

@media print {
  :root {
    --bg-color: #fff;
  }

  @page {
    margin: 1.5cm 2cm;

    /* @bottom-left {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .75rem;
      content: counter(page);
    } */
  }

  * {
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0, "clig" 0;
  }

  body {
    font-size: 10pt;
    padding: 0;
  }

  h1 {
    font-size: 46pt;
    margin-top: 0;
  }

  .introduction {
    font-size: 1.2rem;
  }

  .resume {
    margin-top: 0;
  }

  .references,
  .education {
    margin-top: 1rem;
  }

  body::before,
  footer {
    display: none;
  }
}
