:root {
  --bg-dark-color: #e0e0e0;
  --bg-light-color: #fff;
  --fg-color: #333;
  --bar-height: 10px;
  --bar-color: #000;
}

/* Quick and dirty css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Layout */

body {
  color: var(--fg-color);;
  background-color: var(--bg-light-color);
  background: linear-gradient(var(--bg-light-color), var(--bg-dark-color));
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--bar-height);
  background-color: var(--bar-color);
  border-bottom: 1px solid var(--bg-dark-color);
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.resume header {
  order: 1;
  margin-bottom: 1rem;
}

.introduction {
  order: 2;
}

.experience {
  order: 4;
}

.skills {
  order: 3;
}

.education {
  display: none;
}

.references {
  order: 5;
}

footer {
  margin-top: 2rem;
  padding: .5rem 0;
  border-top: 1px solid #000;
  font-size: .75rem;
}

@media print, (min-width: 40rem) {
  .resume {
    margin-top: 3rem;
  }

  .resume header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }

  .resume address {
    flex: 1;
    text-align: right;
  }

  .skills .categories {
    display: flex;
    gap: 1.5rem;
  }

  .skills .category {
    text-align: left;
    flex: 1;
  }

  footer {
    margin-top: 3rem;
  }
}

/* Typography */
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.45;
}

h1, h2 {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
  font-style: italic;
}

h2 {
  border-top: 5px solid #000;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-block: .25em .2em;
}

p {
  margin-block: 0 1rem;
}

@media print, (min-width: 40rem) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    padding-left: 1.5rem;
  }

  .categories,
  .references p {
    margin-left: 1.5rem;
  }  
}

/* Sections */
.introduction {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.references {
  margin-top: 1rem;
}

.job,
.degree,
.reference {
  margin-block: 1rem;
}

.job {
  padding: 0 1.5rem;
  margin-block: 1.5rem;
}

.job .title {
  line-height: 1.1;
}

.job .company,
.job .location {
  font-size: 1rem;
  display: inline-block;
}

.job .location::before { content: '('; }
.job .location::after { content: ')'; }

.job .dates {
  font-style: italic;
  font-size: 1rem;
}

.details {
  margin-bottom: .25rem;
}

.details,
.details h3 {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.details .title::after,
.details .school::after {
  content: ', ';
  margin-right: .2em;
}

.details .dates {
  font-weight: normal;
}

.skills {
  margin-bottom: 1rem;
}

.skills h2 {
  display: none;
}

.skills .category {
  margin-block: 1rem;
}

.skills ul { list-style: none; }
.skills li { display: inline; }
.skills li::after { content: ', '; }
.skills li:last-child::after { content: ''; }

@media print, (min-width: 40rem) {
  .details .title::after { content: ''; }
  .skills li { display: block; }
  .skills li::after { content: ''; }
}

/* Timeline */

.jobs {
  border-left: 2px dotted #888;
  margin-left: .8em;
}

.job {
  position: relative;
  margin-block: 2rem;
}

.job:last-child { margin-bottom: 0; }

.job::before {
  position: absolute;
  left: -.9rem;
  width: 1.2rem;
  height: 1.2rem;
  content: '//';
  text-align: center;
  font-size: .7rem;
  font-weight: bold;
  color: #eee;
  background: #555;
  outline: 1px solid #555;
  border: 3px solid #f0f0f0;
  border-radius: 50%;
}

@media print, (min-width: 40rem) {
  .jobs {
    margin-left: 10em;
  }

  .job .dates {
    position: absolute;
    top: .2rem;
    left: -9rem;
    width: 7rem;
    text-align: right;
  }
}

/* Print specific styles */

@media print {
  @page {
    margin: 2cm;
  }

  @page:left {
    @bottom-left {
      content: counter(page);
    }
  }

  body {
    font-size: 10pt;
  }

  h1 {
    font-size: 46pt;
  }

  .skills {
    margin-bottom: 0;
  }

  /* .job {
    break-inside: avoid;
  } */

  /* a:after {
    content: "("attr(href)")";
  } */

  .resume {
    margin-top: 0;
  }

  .bar,
  footer {
    display: none;
  }
}