:root {
  --bg-color: #f3f3f2;
  --highlight-color: #fff;
  --text-color: #282826;
  --text-color-dark: #000;
  --link-color: rgb(10, 95, 198);
  --border-color: #000;
  --bar-height: 10px;
  --bar-color: #000;
}

/* Quick and dirty css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Layout */

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--bar-height);
  background-color: var(--bar-color);
  border-bottom: 1px solid var(--highlight-color);
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.resume header {
  order: 1;
  margin-bottom: 1rem;
}

.introduction {
  order: 2;
}

.experience {
  order: 4;
}

.skills {
  order: 3;
}

.education {
  display: none;
}

.references {
  order: 5;
}

footer {
  display: flex;
  margin-top: 2rem;
  padding: .5rem 0;
  border-top: 1px solid var(--border-color);
  font-size: .75rem;
}

footer p {
  flex: 1;
  margin: 0;
}

footer p:nth-child(2) {
  text-align: right;
}

@media print, (min-width: 40rem) {
  .resume {
    margin-top: 1rem;
  }

  .resume header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }

  .resume address {
    flex: 1;
    text-align: right;
  }

  .skills .categories {
    display: flex;
    gap: 1.5rem;
  }

  .skills .category {
    text-align: left;
    flex: 1;
  }

  footer {
    margin-top: 3rem;
  }
}

/* Colors */

body {
  color: var(--text-color);;
  background-color: var(--bg-color);
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--text-color-dark);
}

/* Typography */

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.45;
}

h1, h2 {
  line-height: 1.1;
  font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;

  /* letterpress style inset shadow hack */
  background-color: #000;
  color: transparent;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  text-shadow: 0 2px 1px rgba(255, 255, 255, .11);
}

h2 {
  border-top: 5px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-block: .25em .2em;
}

p {
  margin-block: 0 1rem;
}

address {
  font-style: normal;
}

@media print, (min-width: 40rem) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    padding-left: 1.3rem;
  }

  .categories,
  .references p {
    margin-left: 1.5rem;
  }  
}

/* Sections */

.introduction {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.job,
.degree,
.reference {
  margin-block: 1rem;
}

.job {
  padding: 0 1.5rem;
  margin-block: 1.5rem;
}

.job .title {
  line-height: 1.1;
}

.job .company,
.job .location {
  font-size: 1rem;
  display: inline-block;
}

.job .location::before { content: '('; }
.job .location::after { content: ')'; }

.job .dates {
  font-style: italic;
  font-size: 1rem;
}

.details {
  margin-bottom: .36rem;
}

.details,
.details h3 {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.details .title::after,
.details .school::after {
  content: ', ';
  margin-right: .2em;
}

.details .dates {
  font-weight: normal;
}

.skills h2 {
  display: none;
}

.skills .category {
  margin-block: 1rem;
}

.skills ul { list-style: none; }
.skills li { display: inline; }
.skills li::after { content: ', '; }
.skills li:last-child::after { content: ''; }

@media print, (min-width: 40rem) {
  .details .title::after { content: ''; }
  .skills li { display: block; }
  .skills li::after { content: ''; }
}

/* Timeline */

.jobs {
  border-left: 2px dotted #888;
  margin-left: .8em;
}

.job {
  position: relative;
  margin-block: 2rem;
}

.job:last-child { margin-bottom: 0; }

.job::before {
  position: absolute;
  left: -.825rem;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  color: #eee;
  background: #555;
  background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%23eee' d='M21.5 7.119c-2.023 0-3.667 1.643-3.667 3.667 0 1.353 0.741 2.523 1.833 3.159v0.508c0 0 0 3.667-3.667 3.667-1.52 0-2.711 0.326-3.667 0.825v-8.666c1.093-0.636 1.833-1.806 1.833-3.159 0-2.024-1.643-3.667-3.667-3.667s-3.667 1.643-3.667 3.667c0 1.353 0.74 2.523 1.833 3.159v12.016c-1.093 0.636-1.833 1.805-1.833 3.158 0 2.023 1.643 3.667 3.667 3.667s3.667-1.644 3.667-3.667c0-0.96-0.378-1.826-0.981-2.482 0.534-0.655 1.401-1.185 2.815-1.185 7.276 0 7.333-7.333 7.333-7.333v-0.508c1.092-0.636 1.833-1.806 1.833-3.159 0-2.024-1.644-3.667-3.667-3.667zM10.5 5.286c1.014 0 1.833 0.819 1.833 1.833s-0.819 1.833-1.833 1.833c-1.014 0-1.833-0.819-1.833-1.833s0.819-1.833 1.833-1.833zM10.5 27.286c-1.014 0-1.833-0.82-1.833-1.833 0-1.012 0.819-1.833 1.833-1.833s1.833 0.822 1.833 1.833c0 1.013-0.819 1.833-1.833 1.833zM21.5 12.619c-1.013 0-1.833-0.819-1.833-1.833s0.82-1.833 1.833-1.833 1.833 0.819 1.833 1.833c0 1.014-0.82 1.833-1.833 1.833z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 1.1rem;
  background-position: center right 15%;
  background-repeat: no-repeat;
  outline: 1px solid #555;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* Footer */

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  height: 1.25em;
  margin: 0 -.25em;
  fill: var(--text-color);
}

@media print, (min-width: 40rem) {
  .jobs {
    margin-left: 10em;
  }

  .job .dates {
    position: absolute;
    top: 0;
    left: -8rem;
    width: 7rem;
    text-align: right;
    padding-right: .5rem;
  }
}

/* Print specific styles */

@media print {
  @page {
    margin: 1.5cm 2cm;

    @bottom-left {
      content: counter(page);
    }
  }

  body {
    font-size: 10pt;
    padding: 0;
  }

  h1 {
    font-size: 46pt;
    margin-top: 0;
  }

  .introduction {
    font-size: 1.2rem;
  }

  .resume {
    margin-top: 0;
  }

  .references,
  .education {
    margin-top: 1rem;
  }

  body::before,
  footer {
    display: none;
  }
}